:root {
    --grey_-1: rgba(202, 202, 207, 1);
    --grey: rgba(219, 218, 223, 1);
    --grey_1: rgba(229, 228, 232, 1);
    --grey_2: rgba(235, 235, 238, 1);
    --grey_3: rgba(239, 239, 241, 1);
    --black_-1: rgba(5, 4, 11, 1);
    --black: rgba(10, 9, 19, 1);
    --black_1: rgba(51, 50, 59, 1);
    --black_2: rgba(99, 96, 105, 1);
    --black_3: rgba(182, 178, 185, 1);
    --white_-1: rgba(246, 246, 246, 1);
    --white: rgba(252, 252, 252, 1);
    --white_1: rgba(255, 255, 255, 1);
    --red_-1: rgba(200, 18, 62, 1);
    --red: rgba(219, 33, 77, 1);
    --red_1: rgba(242, 69, 110, 1);
    --red_2: rgba(245, 117, 148, 1);
    --red_3: rgba(251, 160, 182, 1);
    --orange_-1: rgba(255, 91, 40, 1);
    --orange: rgba(255, 91, 40, 1);
    --orange_1: rgba(248, 124, 86, 1);
    --orange_2: rgba(250, 154, 125, 1);
    --orange_3: rgba(254, 190, 169, 1);
    --green_-1: rgba(17, 151, 110, 1);
    --green: rgba(7, 168, 119, 1);
    --green_1: rgba(55, 185, 145, 1);
    --green_2: rgba(133, 212, 188, 1);
    --green_3: rgba(129, 238, 205, 1);
    --purple_-1: rgba(44, 13, 238, 1);
    --purple: rgba(64, 33, 255, 1);
    --purple_1: rgba(92, 66, 254, 1);
    --purple_2: rgba(132, 114, 246, 1);
    --purple_3: rgba(155, 142, 241, 1);

    --purple-radial: radial-gradient(81.75% 89.59% at 50% 10.41%, #5c42fe 0%, #2c0dee 100%);
}
