:root {
  --side-padding: 8vw;
  --mobile-side-padding:5vw;
  --top-bottom-padding:8rem;
  --global-max-width: 100rem;
}
$large_screen_query:1200px;
$medium_screen_query:968px;
$small_screen_query: 500px;
